main>div>label{
    width: 100px;
    
}

    main>div{
    margin: 30px;
}
input{
    height: 3em;
    width: 20em;
}
.flex {
    display: flex;
    place-items: baseline;
    place-content: space-around;
}
.gh{
    flex-direction: column;
    margin-bottom: 50px;
}
#er3{
    background-image: linear-gradient(133.33deg,#98a9a8 13.28%,#819291 23.36%,#637d89 40.39%,#436271 58.77%,#1e4155 80.6%);
}

ul#msgs > li{
    display: flex;
    place-content: space-between;
}