:root {
    --purple: #8e24aa;
    --orange:#ff6c00;
}

.flex {
    display: flex;
    place-content: center;
    place-items: center;
}
.slideTxtCar{
    height: 20vh;flex-direction: column;place-items: baseline;flex:1;
    margin-top: -30vh;
}
#secondSec {
    min-height: 100vh;
    margin-top: -20vh;
    background-color: white;
    position: relative;
    z-index: 2;
    color: var(--purple);
}

figure.imgs {
    transform: rotate(-20deg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.bigTxt {
    font-size: xx-large;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px;
}

h1#bgTxt {
    margin-bottom: 20px;
    color: transparent;
    /* background-image: linear-gradient(90deg, rgb(0, 255, 200), rgb(255, 187, 0)); */
    background-image: linear-gradient(90deg, var(--orange), #ffd900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    font-size: 50px;
    font-family: system-ui;
    margin: 0;
    background-clip: text;
    font-size: 3.3vw;
}

div.gerd article{
    font-size: 1.2vw;
}
.secPad {
    padding: 0 10vw;
}

footer>article {
    line-height: 1.4;
}

body,
html {
    color: white;
    background-image: linear-gradient(90deg, var(--purple), black);
    padding: 0;
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: ubuntu,Helvetica,Arial,sans-serif; */
    font-family: Trebuchet MS, sans-serif;
}

@keyframes opl {
    from {
        transform: translateY(100px);
        opacity: .2;
    }

    to {
        opacity: 1;

    }
}

@keyframes lok {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes olos {
    from {
        transform: translateY(80px);
        line-height: 4;
    }

    to {
        line-height: 1.5;
        opacity: 1;

    }
}

@keyframes olo {
    from {
        transform: translateY(80px);
    }

    to {
        opacity: 1;

    }
}
div#btn1, div#btn2{
    cursor: pointer;
}
    div#btn1:hover, div#btn2:hover{
    transition: background-color, .38s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: rgba(255, 255, 255, 0.233);
}
nav a.flex:hover {
    transition: background-color, .38s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: rgba(255, 255, 255, 0.233);
}

nav a.flex {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 80px;
}

nav a.flex:hover {
    transition: background-color, .38s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: rgba(255, 255, 255, 0.233);
}

button#jjk {
    cursor: pointer;
    background-color: white;
    width: 7em;
    height: 2.7em;
    border-radius: 30px;
    font-size: 15px;
    outline: none;
    border: 0;
}

button#bnh {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .25s;
    border-radius: 30px;
    border: 2px solid white;

}

button.anik {
    animation-delay: 2.4s;
    background-color: white;
    width: 10em;
    height: 3em; 
    border-radius: 30px;
    font-size: 15px;
    outline: none;
    border: 0;
    margin: 20px 0 0;
    cursor: pointer;
    transition: background-color .25s;
}

.links {
    height: inherit;
    text-decoration: none;
    color: #ccc;
    padding: 0 .5em;
}

.anik {
    animation: olo 1s ease forwards;
    opacity: 0;
}

div.serv>figure>div:hover , div.serv>a>figure>div:hover{
    opacity: 1;
    transition: opacity 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

div.serv>figure>div,div.serv>a>figure>div {
    opacity: 0;
    height: inherit;
    flex-direction: column;
    background-image: linear-gradient(90deg, rgba(0, 0, 128, 0.411), rgba(0, 0, 0, 0.363));

    /* background-image: linear-gradient(45deg, black, transparent); */
    border-radius: 15px;
}

div#iop {
    height: 15em;
}

section.paralax>div {
    height: 65vh;
    background-image: linear-gradient(180deg, rgba(128, 0, 128, 0.507), rgba(255, 166, 0, 0.466))
}

.custom-shape-divider-top-1675691460 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.bigBtn {}

article.anik {
    margin-bottom: 5px;

}

.bigBtn:hover {
    border: 2px solid white;
    color: white;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Secular One', sans-serif;
}

ul.flex,
ul.flex>li,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.flex figure>img {
    height: 5em;
}
.active{
    display: flex!important;
}
.gerd{
    display: none;
    width: 100%;
    place-content: end;
}
/* @media (max-width:1700) {
    h1#bgTxt{
        font-size: 400%;
    }
} */
.custom-shape-divider-top-1675737050 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
#df{
    display: none;
}
footer a {
    padding: .3em;
    border-radius: 3px;
}

footer a:hover {
    color: #ea6015;
    background-color: white;
    transition: all .64s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

li>.iw {
    margin: 1.3em 0;
}

.lis {
    margin: .5em 0;

}

footer div ul.flex {
    place-items: baseline;
}

footer div ul.flex>li {
    flex: 1;
    margin: 1em 2em;
}

.custom-shape-divider-top-1675737050 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 87px;
}

.custom-shape-divider-top-1675737050 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1675692162 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

footer {
    background-image: url(../img/electricity.jpg);
}

.custom-shape-divider-top-1675692162 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 89px;
}

.custom-shape-divider-top-1675692162 .shape-fill {
    fill: transparent;
}

.custom-shape-divider-top-1675691460 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1675691460 .shape-fill {
    fill: #FFFFFF;
}

.curvers {
    width: 100%;
    height: inherit;
    background: white;
}

div#iop {}


li.slider>button {
    color: red;
    font-size: 25px;
}
#lk{
    height:100vh;width:inherit;
}
.paralax {
    background-image: url(../img/ks.jpg);
    height: calc(100% + 5vh);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.serv>figure , div.serv>a>figure {
    /* background-image: url(../img/dfe.jpeg); */
    height: 12em;
    margin: 2px;
    width: inherit;
    color: white;
}

.curvCor {
    border-radius: 15px;
}

div.serv {
    /* color: white; */
    width: 20vw;
    cursor: default;
    margin: 10px;
    opacity: 0;
    animation: lok 1s ease forwards;
}
.hiddin{
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    transform: translateY(0.5rem);
    position: absolute;
    display: grid;

    width: 80px;
    top: 70px;
    gap: 10px;
    width: 120px;
    background-color: white;
    color: var(--purple);
}
.drpdwnEl:hover{
    background-color: #8e24aa;
    color: white;
}
.drpdwnEl{
    transition: .25s;
    width: inherit;
    padding: 10px 15px;
    display: block;
}
.visi{
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
    
}

.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    text-align: center;
}