<section style="background-color:white;color:black;min-height:100vh;" class="secPad">
    <div class="flex paddingSec" style="height: inherit;place-items:baseline;position:relative;">

        <aside style="flex:1;position:fixed;left:15vw;">
            <nav>
                <ul>
                    <li class="linksw curvCor" onclick="shwa('vision')" id="vision">Our Vision</li>
                    <li class="linksw curvCor" id="mision" onclick="shwa('mision')">Our Mission</li>
                    <li class="linksw curvCor" id="cpolicy" onclick="shwa('cpolicy')">Co-operate Policy</li>
                    <li class="linksw curvCor" id="team" onclick="shwa('team')">The Team</li>
                    <li class="linksw curvCor" id="awards" onclick="shwa('awards')">Awards</li>
                </ul>
            </nav>
        </aside>
        <main style="flex:4;padding-left: 20vw;">
            <div class="contents flex" id="vision1">
                <figure style="opacity:0; animation: kiql .78s ease    forwards;">
                    <img src="../../img/194-1946510_transparent-vision-png-png-download.png" height="300" alt="">
                </figure>
                <div style="animation: kil .78s ease    forwards;">
                    <h1>Our Vision</h1>
                    <p>
                        To be the preferred electricity service provider of choice with the most satisfied client by
                        offering dynamic electricity solutions, in an affordable & sustainable way that stimulate
                        economic growth
                    </p>
                </div>
            </div>
            <div class="contents flex" id="mision1">
                <figure style="opacity:0; animation: kiql .78s ease forwards;">
                    <img src="../../img/917-9179948_our-mission-company-vision.png" height="300">
                </figure>
                <div style="animation: kil .78s ease    forwards;">
                    <h1>Our Mision</h1>
                    <p>
                        Our mission is in proffering cost-effective solution to electricity by igniting your world via
                        various energy sources that best suit your needs.
                    </p>
                </div>
            </div>


            <div class="contents flex" id="cpolicy1">
                <figure style="opacity:0; animation: kiql .78s ease    forwards;">
                    <img src="../../img/images.jpg" height="300">
                </figure>
                <div style="animation: kil .78s ease    forwards;">
                    <h1>Our Co-operate Code</h1>
                    <p>
                        We commit to the provision of long term customer satisfaction in both technical and human
                        resources. We are a service oriented company equipped for growth, innovation and committed to
                        quality goods and services for our clients.
                    </p>
                </div>
            </div>
            <div class="contents flex" id="team1">
                <div style="display: grid;
                                grid-template-columns: auto auto auto auto;">
                    <div>
                        <figure style="    animation: lok .58s ease forwards ;">
                            <img height="100" width="100" src="../../img/dfe.jpeg" alt="">
                            <figcaption>
                                <h5>Mr Adeyanju Daniels</h5>
                                <p>Manager</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div>
                        <figure style="    animation: lok .58s .54s ease forwards ;">
                            <img height="100" width="100" src="../../img/dfe.jpeg" alt="">
                            <figcaption>
                                <h5>Mr Adeyanju Daniels</h5>
                                <p>Manager</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div>
                        <figure style="    animation: lok .58s 1s ease forwards ;">
                            <img height="100" width="100" src="../../img/dfe.jpeg" alt="">
                            <figcaption>
                                <h5>Mr Adeyanju Daniels</h5>
                                <p>Manager</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div>
                        <figure style=" animation: lok .58s 1.4s ease forwards ;">
                            <img height="100" width="100" src="../../img/dfe.jpeg" alt="">
                            <figcaption>
                                <h5>Mr Adeyanju Daniels</h5>
                                <p>Manager</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div>
                        <figure style="    animation: lok .58s 1.9s ease forwards ;"><img height="100" width="100"
                                src="../../img/dfe.jpeg" alt="">
                            <figcaption>
                                <h5>Mr Adeyanju Daniels</h5>
                                <p>Manager</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div>
                        <figure style="    animation: lok .58s 2.6s ease forwards  ;"><img height="100" width="100"
                                src="../../img/dfe.jpeg" alt="">
                            <figcaption>
                                <h5>Mr Adeyanju Daniels</h5>
                                <p>Manager</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div>
                        <figure style="    animation: lok .58s 2.9s ease forwards ;"><img height="100" width="100"
                                src="../../img/dfe.jpeg" alt="">
                            <figcaption>
                                <h5>Mr Adeyanju Daniels</h5>
                                <p>Manager</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div>
                        <figure style="    animation: lok .58s 3s ease forwards ;"><img height="100" width="100"
                                src="../../img/dfe.jpeg" alt="">
                            <figcaption>
                                <h5>Mr Adeyanju Daniels</h5>
                                <p>Manager</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="contents" id="awards1">
                {{!-- <h1>Awards and Accolades</h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste facere autem mollitia maxime?
                    Tempora
                    impedit, placeat aspernatur consequatur quis consectetur minus accusamus at voluptates? Et id
                    molestias
                    doloremque cumque rem.
                    Commodi libero laborum molestias, consectetur magnam culpa. Unde, numquam voluptas. Praesentium
                    esse,
                    aperiam odio consequatur dignissimos eius. Repudiandae, doloribus enim obcaecati, quasi alias
                    inventore
                    saepe placeat suscipit ipsa consequatur sapiente.
                </p> --}}
                <div>
                    <figure class="awards curvCor bg"
                        style="background-image: url(../../img/zenefits-compressor-1024x549.jpg);">
                        <figcaption class=" curvCor flex">
                            <h3>Best Eletric 2020 from NEPA</h3>
                        </figcaption>
                    </figure>
                </div>
                <div>
                    <figure class="awards curvCor bg"
                        style="background-image: url(../../img/zenefits-compressor-1024x549.jpg);">
                        <figcaption class="curvCor flex">
                            <h3>Best Eletric 2020 from NEPA</h3>
                        </figcaption>
                    </figure>
                </div>
                <div>
                    <figure class="awards curvCor bg"
                        style="background-image: url(../../img/zenefits-compressor-1024x549.jpg);">
                        <figcaption class="flex curvCor">
                            <h3>Best Eletric 2020 from NEPA</h3>
                        </figcaption>
                    </figure>

                </div>
            </div>
        </main>
    </div>

</section>
<script height="100" width="100" src="./JS/script.js"></script>