<section>
    <div class="paralax">
        <div style="background: #0000006e;height: inherit;" class="flex">
            <div class="secPad">

                <h1 id="lo">Hey there, we would like to hear from you</h1>
            </div>

        </div>
    </div>
    <div class="secPad">
        <div class="flex">
            <h2 style="margin:30px 0;">You can call us on</h2>
            <hr style="width: 60vw;">
        </div>
        <div class="flex" style="place-content: baseline;color:var(--purple);">
            <div style="width: 2em;margin:10px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                </svg>

            </div>
            <ul>
                <li>
                    <h3 style="margin:30px 0;"><a href="tel:+2348055637014">+234 805 563 7014</a></h3>
                </li>
                <li>
                    <h3 style="margin:30px 0;"><a href="tel:+2348055637014">+234 805 563 7014</a></h3>
                </li>
                <li>
                    <h3 style="margin:30px 0;"><a href="tel:+2348055637014">+234 805 563 7014</a></h3>
                </li>

            </ul>
        </div>
        <div>
            <div class="flex">
                <h1>Prefer a visit?</h1>
                <hr style="width: 65vw;">
            </div>
            <p>Our offices are located at</p>
            <ul class="flex add">
                <li class="curvCor">
                    <h4 class="curvCor">Head Office</h4>
                    <p>144/145 Egbeda Idimu Road, Seliat Bustop, Egbeda, Lagos</p>
                    <h4 class="curvCor"> . . . </h4>
                </li>
                <li class="curvCor">
                    <h4 class="curvCor">Benin Branch</h4>
                    <p>144/145 Egbeda Idimu Road, Seliat Bustop, Egbeda, Lagos</p>
                    <h4 class="curvCor"> . . . </h4>
                </li>
                <li class="curvCor">
                    <h4 class="curvCor">Abuja Branch</h4>
                    <p>144/145 Egbeda Idimu Road, Seliat Bustop, Egbeda, Lagos</p>
                    <h4 class="curvCor"> . . . </h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="secPad">
        <div class="flex">
            <h2 style="margin:30px 0;">Drop us a message</h2>
            <hr style="width: 60vw;">
        </div>
        <div>
            <div>

            </div>
            <div>
                <form action="" method="get" class="flex" style="flex-direction:column;">
                    <div  class="flex frmBx" style="place-content: space-between;">
                        <div>
                            <input type="text" id="name" name="fname" placeholder="Full Name">
                        </div>
                        <div>
                            <input type="email" id="email" name="email" placeholder="email">
                        </div>
                    </div>
                    <div class="flex frmBx">
                        <div style="width: inherit;">
                            <textarea name="msg" id="msg" style="width:inherit;" cols="50" rows="10" placeholder="your Message"></textarea>
                        </div>
                    </div>
                    <div><button type="submit">Send</button></div>
                </form>
            </div>
        </div>
    </div>
</section>