<section class="secPad flex" style="height: 100vh;">
    <div class="flex">
        <div style="flex:1;flex-direction:column;" class="flex">
            <div style="background-image: linear-gradient(90deg, orange, var(--purple));
    padding: 2px;
    opacity:0;
    animation: swd 1s .2s forwards;
    border-radius: 10px;">
                <div style="background-color: white;
    padding: 5px;
    border-radius: 10px;">
                    <h1 id="jkl">FAQs</h1>
                </div>
            </div>
            <P>Got any quetions not covered here?</P>
            <a href="../contact"><button type="submit">Ask Your Question</button></a>
        </div>
        <div style="flex:3">
            <ul>
                <li>
                    <div>
                        <div class="flex">
                            <h4 style="flex:1;text-align: end;margin-right: 20px;">Question</h4>
                            <article style="flex:3;">
                            </article>
                        </div>
                        <div class="flex">
                            <h4 style="flex:1;text-align: end;margin-right: 20px;">Answer</h4>
                            <article style="flex:3;">
                                
                            </article>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="flex">
                            <h4 style="flex:1;text-align: end;margin-right: 20px;">Question</h4>
                            <article style="flex:3;">
                                
                                
                                
                                
                              
                            </article>
                        </div>
                        <div class="flex">
                            <h4 style="flex:1;text-align: end;margin-right: 20px;">Answer</h4>
                            <article style="flex:3;">
                                
                            </article>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="flex">
                            <h4 style="flex:1;text-align: end;margin-right: 20px;">Question</h4>
                            <article style="flex:3;">
                            </article>
                        </div>
                        <div class="flex">
                            <h4 style="flex:1;text-align: end;margin-right: 20px;">Answer</h4>
                            <article style="flex:3;">
                                
                            </article>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="flex">
                            <h4 style="flex:1;text-align: end;margin-right: 20px;">Question</h4>
                            <article style="flex:3;">
                            </article>
                        </div>
                        <div class="flex">
                            <h4 style="flex:1;text-align: end;margin-right: 20px;">Answer</h4>
                            <article style="flex:3;">
                               
                            </article>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
